---
layout: page
title: Tomasky.Wu
parent: blog
---
{% include JB/setup %}

<section class="posts">
  <!-- Grab everything in _posts -->
  {% for post in paginator.posts %}
  
    <!-- Everything here is an article -->
    <article class="cf">

      <!-- Metadata is the same for every post type, so let's leave it out here -->
      <div class="metadata">
        
        <!-- Date -->
        <!-- See Liquid date filters here: http://wiki.shopify.com/Date -->
        <time>{{ post.date | date: "%A, %B %d %Y" }}</time>
        <!-- Unless there are no category, put them here -->
        {% unless post.category == empty %}
          <h4>category</h4>
          <ul class="category_box">
            {% assign categories_list = post.category %}
            {% include JB/categories_list %}
          </ul>
        {% endunless %} 
         
        <!-- Unless there are no tags, put them here -->
        {% unless post.tags == empty %}
          <h4>Tags</h4>
          <ul class="tag_box">
            {% assign tags_list = post.tags %}
            {% include JB/tags_list %}
          </ul>
        {% endunless %}  
      </div>
      <!-- End  Metadata-->
      
      <!-- Begin posts. Let's go through the post types. Liquid's case statements are
      nice for this -->
      {% case post.post_type %}

        {% when 'text' %} 
          <div class="text">
            <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
			<p>{{ post.content | truncatehtml: 355 }}</p>
            <a href="{{ BASE_PATH }}{{ post.url }}">more</a>
          </div>

        {% when 'photo' or 'video' or 'quote' %}
          <div class="text">
            <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
            {{ post.content }}
            <a href="{{ BASE_PATH }}{{ post.url }}">Comments go here</a>
          </div>

        {% else %}
          <div class="text">
            <p>You got issues, bro.</p>
          </div>

      {% endcase %}
      <!-- End Posts  -->

    </article>
    <!-- Close article tag -->

  {% endfor %}



<!-- Pagination links -->
<div id="pagination" class="pagination">

  {% if paginator.next_page %}
  <p class="previous">
    &laquo;<a href="/page{{paginator.next_page}}"> Previous</a>
  </p>
  {% else %}
  <p class="previous disabled">
    <span>You're viewing the oldest page.</span>
  </p>
  {% endif %}


  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.previous_page %}
  <p class="next">
    {% if paginator.previous_page == 1 %}
    <a href="/">Next </a>&raquo;
    {% else %}
    <a href="/page{{paginator.previous_page}}">Next </a>&raquo;
    {% endif %}
  </p>
  {% else %}
  <p class="next disabled">
    <span>You're viewing the newest page.</span>
  </p>
  {% endif %}

</div>


</section>
